.heading-1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form__container {
  width: 400px;
  margin: auto;
}

.createPost__form {
  display: flex;
}
.createPost__form * .heading-1 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
  color: #fff;
  text-shadow: none;
}
